body {
    background-color: rgb(255, 199, 64);
    font-family: cursive;
  }

  h1 {
      font-family: cursive;
      font-size: 40px;
  }

  .question {
      font-family: cursive;
      font-weight: bold; 
  }

  span {
      font-size: 8px;
  }